/*------------------- General Styles------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: white;
}

img {
    max-width: 100%;
}

/* --------------------  Utilities -------------------*/
/* ----------------------- Layout -------------------- */
:root{
    --bg-color :#928FD9;
    --box-color : #B5DDFF;
    --header-color : #0084FD;
    --footer-color : #333333;
    --gap: 1rem;
}

.container-flex-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container-xl {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
}

.col {
    padding-left: 1rem;
    padding-right: 1rem;
}

.button{
    border: none;
    background-color: white;
    padding: 5px 15px;
    color: black;
    border-radius: 20px;
}




/*------------------------- text --------------------- */




/*------------------------- Header --------------------- */
.bg-header{
    background-color: var(--header-color);
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bg-header ul{
    display: flex;
    list-style: none;
    gap:var(--gap);
    color: white;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo{
    background-size: contain;
    height: auto;
    display: flex;
    gap:var(--gap);
    align-items: center;
}

/*---------------------- section hero ----------------- */




/*--------  section we are committed expert partners ------ */



/*--------  section Benefits of working with us ------ */



/*----------------- section About Us ---------------- */



/*--------  section Simple, transparent Pricing------ */




/*--------------------- Site Footer ---------------- */






/*--------------------- Responsive ---------------- */
/* ----------------------- Layout -----------------*/



/*------------------------- text --------------------- */




/*------------------------- Header --------------------- */




/*---------------------- section hero ----------------- */




/*--------  section we are committed expert partners ------ */



/*--------  section Benefits of working with us ------ */



/*----------------- section About Us ---------------- */



/*--------  section Simple, transparent Pricing------ */




/*--------------------- Site Footer ---------------- */
