/*------------------- General Styles------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: white;
}

img {
    max-width: 100%;
}

/* --------------------  Utilities -------------------*/
/* ----------------------- Layout -------------------- */
:root{
    --bg-color :#928FD9;
    --box-color : #B5DDFF;
    --header-color : #0084FD;
    --footer-color : #333333;
    --gap: 1rem;
}

.container-flex{
    background-color : #60a6e7;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container-xl {
    background-color : #5fab79;
    width: 1140px;
    margin:  auto;
    padding: 5px;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}


.container-md {
    padding-left: 40px;
    padding-right: 40px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--box-color);
    
}

.col-1-3 {
    flex-basis: calc((100% / 3) - var(--gap));
}

.col-2-3 {
    flex-basis: calc(((100% / 3) * 2) - var(--gap));
}

.col-1-2 {
    flex-basis: calc(50% - var(--gap) - var(--gap));
}

.button{
    border: none;
    background-color: white;
    padding: 5px 15px;
    color: black;
    border-radius: 20px;
}
.img{
    width: 100%;
}




/*------------------------- text --------------------- */




/*------------------------- Header --------------------- */
.bg-header{
    background-color: var(--header-color);
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.bg-header ul{
    display: flex;
    list-style: none;
    gap:var(--gap);
    color: white;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo{
    background-size: contain;
    height: auto;
    display: flex;
    gap:var(--gap);
    align-items: center;
}
p{
    padding-bottom: 1.5rem;
}

/*---------------------- section hero ----------------- */
h4{
    color: var(--header-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.btn-app-store{
    background-color: var(--header-color);
    padding-left: 3rem;
    padding-right: 3rem;
}

.col i{
    font-size: 80px;
    color: var(--header-color);
    padding-top: 1.5rem;

}
.hero .col{
    border-radius: 20px;
}





/*--------  section we are committed expert partners ------ */



/*--------  section Benefits of working with us ------ */



/*----------------- section About Us ---------------- */



/*--------  section Simple, transparent Pricing------ */




/*--------------------- Site Footer ---------------- */






/*--------------------- Responsive ---------------- */
/* ----------------------- Layout -----------------*/



/*------------------------- text --------------------- */




/*------------------------- Header --------------------- */




/*---------------------- section hero ----------------- */




/*--------  section we are committed expert partners ------ */



/*--------  section Benefits of working with us ------ */



/*----------------- section About Us ---------------- */



/*--------  section Simple, transparent Pricing------ */




/*--------------------- Site Footer ---------------- */
